<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="spring.rpc.client"/>

    <bean id="serviceDiscovery" class="spring.rpc.client.ServiceDiscovery">
        <constructor-arg index="0" value="127.0.0.1:2181"/>
    </bean>

    <bean id="rpcProxy" class="spring.rpc.client.RpcProxy">
        <constructor-arg index="0" ref="serviceDiscovery"/>
    </bean>

</beans>