<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="dao.**" />

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig" >
        <property name="maxIdle" value="2" />
        <property name="maxTotal" value="3" />
    </bean>
    <!--ShardedJedisPool 可以分片的连接池 -->
    <!--JedisPool 单一的 -->
    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool" scope="singleton">
        <constructor-arg index="0" ref="jedisPoolConfig" />
        <constructor-arg index="1" >
            <list >
                <bean class="redis.clients.jedis.JedisShardInfo" >
                    <constructor-arg name="host" value="1.1.1.1." />
                    <constructor-arg name="port" value="2111" />
                    <constructor-arg name="weight" value="1" />
                    <constructor-arg name="name" value="xx" />
                    <constructor-arg name="timeout" value="11" />
                </bean>
            </list>
        </constructor-arg>
    </bean>

</beans>