<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="spring.rpc.server,spring.rpc.service"/>

    <bean id="serviceRegistry" class="spring.rpc.server.ServiceRegistry">
        <constructor-arg name="registryAddress" value="127.0.0.1:2181"/>
    </bean>

    <bean id="rpcServer" class="spring.rpc.server.RpcServer">
        <property name="serverAddress" value="127.0.0.1:8080"/>
        <property name="serviceRegistry" ref="serviceRegistry"/>
    </bean>

</beans>