<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/cache

           http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!--    注意这个 spring 配置文件有一个关键的支持缓存的配置项：-->
    <cache:annotation-driven/>

    <context:component-scan base-package="spring.cache.service" />

    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" >
        <property name="usePool" value="false" />
        <property name="hostName" value="127.0.0.1" />
        <property name="port" value="6379" />
    </bean>

    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate" >
        <property name="connectionFactory" ref="jedisConnectionFactory" />
    </bean>

    <bean class="org.springframework.data.redis.cache.RedisCacheManager" >
        <constructor-arg index="0" ref="redisTemplate" />
    </bean>

</beans>