<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!--
    Firstly we need to configure a scheduler itself which schedules some tasks to run at some point in the future.
-->
    <task:scheduler id="myScheduler" pool-size="3"/>


<!--    Next, we configure the tasks to be scheduled.-->
    <task:scheduled-tasks scheduler="myScheduler">
        <task:scheduled ref="helloJob2" method="printMessage" fixed-delay="1000" />
    </task:scheduled-tasks>


</beans>
